
/* CSS UNTUK CARD HASIL PENCARIAN */
.card {
    border: 1px solid black; /* membuat border hitam dengan ketebalan 1px di sekeliling card */
    position: relative; /* mengatur posisi relatif terhadap posisi normal */
    top: 10px; /* menggeser card 10px ke bawah dari posisi normalnya */
    width: 150px; /* lebar card sebesar 150px */
    margin: 10px; /* margin 10px di sekeliling card */
    padding: 10px; /* padding 10px di dalam card */
    text-align: center; /* mengatur teks di dalam card menjadi rata tengah */
    background-color: rgb(243, 220, 248); /* memberikan warna latar belakang card dengan nilai RGB (250, 211, 250) */
}
/* CSS UNTUK GAMBAR/COVER DIDALAM CARD */
.card img {
    width: 100px; /* lebar gambar di dalam card sebesar 100px */
    object-fit: cover; /* mengatur cara gambar menyesuaikan ukuran sesuai container (mengisi dan memotong jika perlu) */
}
